o*/
*out/
lanout*/
tempDir/
novels/
ep/
debug*
*.json
ttxs.ts
17c.ts
back/
lib/fanqie/
*.exe
webo/
*cache*
downloads/*
!deno.json
node_modules/
pnpm*
npm*
yarn*
*.lock
*.nlp
*.db*
error.html
captcha.*
test.*
*.traineddata
noveldb/**
*.txt
*.epub